# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Flutter project nested under AppSuViet(FlutterDart)
AppSuViet(FlutterDart)/android/.gradle/
AppSuViet(FlutterDart)/android/.kotlin/
AppSuViet(FlutterDart)/android/build/
AppSuViet(FlutterDart)/android/local.properties
AppSuViet(FlutterDart)/build/
AppSuViet(FlutterDart)/.dart_tool/
